.main{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.main-link{
    padding: 10px 100px;
    background-color: var(--unnamed-color-e9d023);
    border: 1px solid transparent;
    border-radius: 12px;
    transition: .3s all ease-in-out;
}

.main-link:hover{
    background-color: var(--unnamed-color-ffffff);
    border-color: var(--unnamed-color-e9d023);
    transform: scale(1.1);
}