input,
.react-international-phone-country-selector-button {
  height: 45px !important;
  width: 100%;

  border: 1px solid #a5a5a5 !important;
  border-radius: 8px !important;

  display: block;
  margin: 12px 0 24px 0 !important;
  padding: 12px 27px !important;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
}
.react-international-phone-country-selector-button {
  padding: 12px !important;
}
.react-international-phone-input-container {
  display: flex;
  gap: 10px;
}
input::placeholder {
  color: var(--unnamed-color-A5A5A5);
  opacity: 1;
}

input[type="checkbox"] {
  display: inline-block;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid var(--unnamed-color-707070) !important;
  border-radius: 2px !important;
  margin: 0 !important;
  padding: 0 !important;
}
input[type="checkbox"]:checked {
  appearance: none;
  position: relative;
  background-color: var(--unnamed-color-e9d023);
  border-color: var(--unnamed-color-e9d023) !important;
}
input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  height: 8px;
  width: 4px;

  border: 2px solid var(--unnamed-color-f5f5f5);
  border-left: 0;
  border-top: 0;

  transform: rotate(45deg);
  transition: opacity 0.2s ease-in-out;
}
input[type="radio"] {
  display: inline-block;
  width: 12px;
  height: 12px !important;
  accent-color: var(--unnamed-color-d80073);
}

input[type="radio"] ~ label {
  padding-left: 8px;
}
input[type="radio"]:checked ~ label {
  color: var(--unnamed-color-d80073);
}

input[type="submit"] {
  background: var(--unnamed-color-e9d023) 0% 0% no-repeat padding-box;
  border: none !important;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto) !important;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-474746);
  padding: 10px;
  margin: 40px 0 20px 0;
}

input.guest-btn {
  border: 1px solid var(--unnamed-color-e9d023);
  background-color: var(--unnamed-color-ffffff);
  padding: 10px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-474746);
}

label {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-474746);
  text-transform: capitalize;
}

label.required::after {
  content: "*";
  width: 5px;
  height: 16px;
  padding-left: 4px;

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-12) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-d80073);
  text-transform: capitalize;
}
input[type="date"] {
  margin: 12px 0 !important;
  text-transform: uppercase;
}
input[type="date"]::-webkit-datetime-edit {
  color: var(--unnamed-color-9d9ea0);
}
input[type="date"]:focus-within::-webkit-datetime-edit {
  color: var(--unnamed-color-474746);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
  transition: 0.3s all ease-in-out;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="date"]:focus-within::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

@media only screen and (max-width: 480px) {
  input {
    margin: 8px 0 16px 0;
  }
  label,
  input,
  input::placeholder,
  input[type="date"]::-webkit-datetime-edit {
    font-size: 14px !important;
  }
  input[type="submit"] {
    font-size: 16px;
    margin-bottom: 18px;
  }
  input[type="radio"] {
    width: 16px;
    height: 16px !important;
  }
}
