#sign-up .form-container .header {
    margin-bottom: 0;
}
#sign-up .form-container hr{
  margin-bottom: 19px;
}
#sign-up .img-container {
  background: url("../../assests/Mask Group 515.png") no-repeat top right;
}
#sign-up input, #sign-up .field.acceptTerms, #sign-up .fields-container.radio{
  margin: 12px 0 20px 0 !important;
}
#sign-up input[type="checkbox"], #sign-up input[type="radio"]{
  margin: 0 !important;
}
.img-container {
  position: fixed;
  right: 0;
  top: 0;

  width: 50%;
  height: 100%;
  background-size: contain !important;
  z-index: -1;
}

#sign-up .fields-container {
  gap: 8px;
}
.fields-container.radio{
  justify-content: flex-start;
  gap: 60px !important;
}

.label-container {
  display: flex;
  gap: 22px;
}
.field.acceptTerms {
  display: inline-flex;
  gap: 8px;
  align-items: flex-start;
}
.field.acceptTerms label {
  text-wrap: nowrap;
  margin: 0;
}
.field.acceptTerms label a {
  color: var(--unnamed-color-d80073);
}
.birthday-gift {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  font-size: var(--unnamed-font-size-16);
  color: var(--unnamed-color-d80073);
  text-wrap: nowrap;
  margin-bottom: 14px;
}

#sign-up input[type="submit"] {
  margin: 48px 0 40px 0 !important;
}
.react-international-phone-flag-emoji{
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  #sign-up{
    width: 100%;
  }
 .header.mobile{
    display: flex;
    justify-content: space-between;
    margin: 22px 0 18px !important;
  }
  .birthday-gift, .field.acceptTerms label{
    text-wrap: wrap;
  }
  .field.acceptTerms a{
    font-size: 14px;
  }
  .birthday-gift{
    font-size: 12px;
  }
  #sign-up .fields-container.radio .field{
    display: inline-flex
  }
  .label-container{
    gap: 33px;
  }
}